<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
<meta charset="UTF-8">
<title>Severity</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
<style type="text/css">
<!--
.style2 {color: #000000}
.style3 {color: #FFFFFF}
-->

#heading{
			background-color: rgba(0,0,0,0.6);
			padding: 50px;
			color: white;

		}

		#predict{
			margin-top: 80px;
			color: white;
		}
body{
	height: 100%;
	background:linear-gradient(#2193b0, #6dd5ed);
	background: no-repeat;
}
		
</style>
</head>

<body>

 <div style="background:linear-gradient(#2193b0, #6dd5ed)" align="center" >
	<div id="heading">
	<center>
		<h1>Stroke Risk Prediction</h1>
		
	</center>
    </div>
	<h1 id ="predict"> Predict Severity of Brain Stroke</h1>
  

     <!-- Main Input For Receiving Query to our ML -->
     <div class="container-fluid">
     <div class="col-lg-12">
    <form action="{{ url_for('predict')}}"method="post">
       <br><br>
       <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="gender"> Cystatin C: </label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input type="text" name="Cystatin_C"  required="required" class="form-control" style="width:500px;"/>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="age">MMP10:</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                 <input type="text" name="MMP10"  required="required" class="form-control" style="width:500px;"/>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="hypertension"> Tau: </label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input type="text" name="tau"  required="required" class="form-control" style="width:500px;"/>
                            
                                
                            
                            </div>
                        
                           
                        </div>

                       
                        <br>

                        <br>
                        <center>
                             <button type="submit" class="btn btn-dark" value="submit" style="width:200px;">Predict</button>
                        </center>
                    </form>
                    

                <br>
   <br>
   <h1>{{ prediction_text }}</h1>

   

{% if prediction_text %}
                                
<form action="/expert_review" method ="POST","GET"><center>
    <button type="submit" class="btn btn-dark" value="submit">Expert Review</button>
</center></a>

{% endif %}
</div>
</center>
</form>

</div>
     
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
